---
import yaml from 'yaml';
import {
    type ISidebar,
    Sidebar,
    type ISidebarItem,
} from '../components/SideBar';
import {
    readFile,
    join,
    root,
    modules,
    modulesPath,
    icons,
} from '../utils/paths';
import { unify, type TableOfContents } from '../utils/unify';
import Navigation from '../components/Navigation.astro';
import { getDocument, getModuleTypes } from '../utils/dom';

interface Props {
    title: string;
    toc: TableOfContents;
}

const { title, toc } = Astro.props;
let sidebar: ISidebar;

if (Astro.url.pathname.startsWith('/reference')) {
    sidebar = Object.entries(modules).map(([key, value]) => {
        const file = readFile(modulesPath(key));
        const { html } = unify(file);
        const types = getModuleTypes(getDocument(html));

        const children: ISidebar = [['Overview', `/reference/${key}`, null]];
        console.log(types);

        Object.entries(types).forEach(([type, href]) => {
            children.push([type, href, null]);
        });

        return [
            value,
            children,
            icons[key as keyof typeof icons] || null,
        ] as ISidebarItem;
    });
} else {
    sidebar = yaml.parse(readFile(join(root, 'sidebar.yaml'))) as ISidebar;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="React Native Firebase" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"
        />
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/groovy.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/typescript.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/ruby.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/json.min.js"
        ></script>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/objectivec.min.js"
        ></script>
        <title>{title}</title>
    </head>
    <body class="dark:bg-slate-950 dark:text-slate-100">
        <nav class="flex items-center justify-between py-4">
            <span class="flex items-center">
                <img
                    style="width: 50px; padding-right: 1rem;"
                    src="https://static.invertase.io/assets/React-Native-Firebase.svg"
                    alt="RNFB Logo"
                />
                <a href="/"><strong>React Native Firebase</strong></a>
            </span>
            <ul class="flex space-x-4">
                <li><a href="/">Docs</a></li>
                <li><a href="/reference">Reference API</a></li>
            </ul>
        </nav>

        <div class="mx-auto flex max-w-[1400px] justify-between px-3">
            <Sidebar sidebar={sidebar} />
            <main class="prose w-full min-w-[40rem] px-8 dark:prose-invert">
                <slot />
            </main>
            <Navigation {toc} />
        </div>

        <!-- <Footer /> -->

        <script defer>
            hljs.configure({ ignoreUnescapedHTML: true });
            hljs.highlightAll();
        </script>
    </body>
</html>

<style is:global>
    :root {
        --primary: #e88533;
    }

    body {
        padding-inline: 4rem;
    }
</style>
